
name: Run Tests with Allure Report

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Set up Allure CLI
      run: |
        curl -o allure.zip -L https://github.com/allure-framework/allure2/releases/latest/download/allure-2.27.0.zip
        unzip -q allure.zip -d allure
        echo "$GITHUB_WORKSPACE/allure/allure-2.27.0/bin" >> $GITHUB_PATH

    - name: Build and run tests
      run: mvn clean test

    - name: Generate Allure Report
      run: |
        allure generate target/allure-results --clean -o target/allure-report
        allure report open -o target/allure-report

    - name: Upload Allure Report Artifact
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: target/allure-report
